@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  color: inherit;
  margin: 0;
}

body {
  font-family: Host Grotesk;
}

ul {
  padding: 0;
  list-style-type: none;
}

link {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

h1 {
  color: #172601;
  margin-bottom: 0.75rem;
}

h2 {
  color: #172601;
  margin-bottom: 0.75rem;
}

h3 {
  color: #6A8C1F;
  margin-bottom: 0.25rem;
}

button {
  color: #111;
  border: 0;
  background: #6A8C1F;
  border-radius: 20px;
  padding: 0.75rem;
}

/* flexible breakpoint */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.gap-0 > * {
  padding: 0;
}

.gap-0 {
  margin-left: 0;
  margin-right: 0;
}

.gap-1 > * {
  padding: 10px;
}

.gap-1 {
  margin-left: -10px;
  margin-right: -10px;
}

.gap-2 > * {
  padding: 20px;
}

.gap-2 {
  margin-left: -20px;
  margin-right: -20px;
}

.gap-3 > * {
  padding: 30px;
}

.gap-3 {
  margin-left: -30px;
  margin-right: -30px;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

@media (min-width: 0) {
  .col-1-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 480px) {
  .col-1-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 740px) {
  .col-1-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 960px) {
  .col-1-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-1-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
.text-primary {
  color: #172601;
}

.text-hover-primary:hover {
  color: #172601;
}

.bg-primary {
  background-color: #172601;
}

.text-primary-light-1 {
  color: rgb(46.2, 59.7, 26.4);
}

.text-hover-primary-light-1:hover {
  color: rgb(46.2, 59.7, 26.4);
}

.bg-primary-light-1 {
  background-color: rgb(46.2, 59.7, 26.4);
}

.text-primary-light-2 {
  color: rgb(69.4, 81.4, 51.8);
}

.text-hover-primary-light-2:hover {
  color: rgb(69.4, 81.4, 51.8);
}

.bg-primary-light-2 {
  background-color: rgb(69.4, 81.4, 51.8);
}

.text-primary-light-3 {
  color: rgb(92.6, 103.1, 77.2);
}

.text-hover-primary-light-3:hover {
  color: rgb(92.6, 103.1, 77.2);
}

.bg-primary-light-3 {
  background-color: rgb(92.6, 103.1, 77.2);
}

.text-primary-light-4 {
  color: rgb(115.8, 124.8, 102.6);
}

.text-hover-primary-light-4:hover {
  color: rgb(115.8, 124.8, 102.6);
}

.bg-primary-light-4 {
  background-color: rgb(115.8, 124.8, 102.6);
}

.text-primary-light-5 {
  color: rgb(139, 146.5, 128);
}

.text-hover-primary-light-5:hover {
  color: rgb(139, 146.5, 128);
}

.bg-primary-light-5 {
  background-color: rgb(139, 146.5, 128);
}

.text-primary-light-6 {
  color: rgb(162.2, 168.2, 153.4);
}

.text-hover-primary-light-6:hover {
  color: rgb(162.2, 168.2, 153.4);
}

.bg-primary-light-6 {
  background-color: rgb(162.2, 168.2, 153.4);
}

.text-primary-light-7 {
  color: rgb(185.4, 189.9, 178.8);
}

.text-hover-primary-light-7:hover {
  color: rgb(185.4, 189.9, 178.8);
}

.bg-primary-light-7 {
  background-color: rgb(185.4, 189.9, 178.8);
}

.text-primary-light-8 {
  color: rgb(208.6, 211.6, 204.2);
}

.text-hover-primary-light-8:hover {
  color: rgb(208.6, 211.6, 204.2);
}

.bg-primary-light-8 {
  background-color: rgb(208.6, 211.6, 204.2);
}

.text-primary-light-9 {
  color: rgb(231.8, 233.3, 229.6);
}

.text-hover-primary-light-9:hover {
  color: rgb(231.8, 233.3, 229.6);
}

.bg-primary-light-9 {
  background-color: rgb(231.8, 233.3, 229.6);
}

.text-primary-dark-1 {
  color: rgb(20.7, 34.2, 0.9);
}

.text-hover-primary-dark-1:hover {
  color: rgb(20.7, 34.2, 0.9);
}

.bg-primary-dark-1 {
  background-color: rgb(20.7, 34.2, 0.9);
}

.text-primary-dark-2 {
  color: rgb(18.4, 30.4, 0.8);
}

.text-hover-primary-dark-2:hover {
  color: rgb(18.4, 30.4, 0.8);
}

.bg-primary-dark-2 {
  background-color: rgb(18.4, 30.4, 0.8);
}

.text-primary-dark-3 {
  color: rgb(16.1, 26.6, 0.7);
}

.text-hover-primary-dark-3:hover {
  color: rgb(16.1, 26.6, 0.7);
}

.bg-primary-dark-3 {
  background-color: rgb(16.1, 26.6, 0.7);
}

.text-primary-dark-4 {
  color: rgb(13.8, 22.8, 0.6);
}

.text-hover-primary-dark-4:hover {
  color: rgb(13.8, 22.8, 0.6);
}

.bg-primary-dark-4 {
  background-color: rgb(13.8, 22.8, 0.6);
}

.text-primary-dark-5 {
  color: rgb(11.5, 19, 0.5);
}

.text-hover-primary-dark-5:hover {
  color: rgb(11.5, 19, 0.5);
}

.bg-primary-dark-5 {
  background-color: rgb(11.5, 19, 0.5);
}

.text-primary-dark-6 {
  color: rgb(9.2, 15.2, 0.4);
}

.text-hover-primary-dark-6:hover {
  color: rgb(9.2, 15.2, 0.4);
}

.bg-primary-dark-6 {
  background-color: rgb(9.2, 15.2, 0.4);
}

.text-primary-dark-7 {
  color: rgb(6.9, 11.4, 0.3);
}

.text-hover-primary-dark-7:hover {
  color: rgb(6.9, 11.4, 0.3);
}

.bg-primary-dark-7 {
  background-color: rgb(6.9, 11.4, 0.3);
}

.text-primary-dark-8 {
  color: rgb(4.6, 7.6, 0.2);
}

.text-hover-primary-dark-8:hover {
  color: rgb(4.6, 7.6, 0.2);
}

.bg-primary-dark-8 {
  background-color: rgb(4.6, 7.6, 0.2);
}

.text-primary-dark-9 {
  color: rgb(2.3, 3.8, 0.1);
}

.text-hover-primary-dark-9:hover {
  color: rgb(2.3, 3.8, 0.1);
}

.bg-primary-dark-9 {
  background-color: rgb(2.3, 3.8, 0.1);
}

.text-secondary {
  color: #6A8C1F;
}

.text-hover-secondary:hover {
  color: #6A8C1F;
}

.bg-secondary {
  background-color: #6A8C1F;
}

.text-secondary-light-1 {
  color: rgb(120.9, 151.5, 53.4);
}

.text-hover-secondary-light-1:hover {
  color: rgb(120.9, 151.5, 53.4);
}

.bg-secondary-light-1 {
  background-color: rgb(120.9, 151.5, 53.4);
}

.text-secondary-light-2 {
  color: rgb(135.8, 163, 75.8);
}

.text-hover-secondary-light-2:hover {
  color: rgb(135.8, 163, 75.8);
}

.bg-secondary-light-2 {
  background-color: rgb(135.8, 163, 75.8);
}

.text-secondary-light-3 {
  color: rgb(150.7, 174.5, 98.2);
}

.text-hover-secondary-light-3:hover {
  color: rgb(150.7, 174.5, 98.2);
}

.bg-secondary-light-3 {
  background-color: rgb(150.7, 174.5, 98.2);
}

.text-secondary-light-4 {
  color: rgb(165.6, 186, 120.6);
}

.text-hover-secondary-light-4:hover {
  color: rgb(165.6, 186, 120.6);
}

.bg-secondary-light-4 {
  background-color: rgb(165.6, 186, 120.6);
}

.text-secondary-light-5 {
  color: rgb(180.5, 197.5, 143);
}

.text-hover-secondary-light-5:hover {
  color: rgb(180.5, 197.5, 143);
}

.bg-secondary-light-5 {
  background-color: rgb(180.5, 197.5, 143);
}

.text-secondary-light-6 {
  color: rgb(195.4, 209, 165.4);
}

.text-hover-secondary-light-6:hover {
  color: rgb(195.4, 209, 165.4);
}

.bg-secondary-light-6 {
  background-color: rgb(195.4, 209, 165.4);
}

.text-secondary-light-7 {
  color: rgb(210.3, 220.5, 187.8);
}

.text-hover-secondary-light-7:hover {
  color: rgb(210.3, 220.5, 187.8);
}

.bg-secondary-light-7 {
  background-color: rgb(210.3, 220.5, 187.8);
}

.text-secondary-light-8 {
  color: rgb(225.2, 232, 210.2);
}

.text-hover-secondary-light-8:hover {
  color: rgb(225.2, 232, 210.2);
}

.bg-secondary-light-8 {
  background-color: rgb(225.2, 232, 210.2);
}

.text-secondary-light-9 {
  color: rgb(240.1, 243.5, 232.6);
}

.text-hover-secondary-light-9:hover {
  color: rgb(240.1, 243.5, 232.6);
}

.bg-secondary-light-9 {
  background-color: rgb(240.1, 243.5, 232.6);
}

.text-secondary-dark-1 {
  color: rgb(95.4, 126, 27.9);
}

.text-hover-secondary-dark-1:hover {
  color: rgb(95.4, 126, 27.9);
}

.bg-secondary-dark-1 {
  background-color: rgb(95.4, 126, 27.9);
}

.text-secondary-dark-2 {
  color: rgb(84.8, 112, 24.8);
}

.text-hover-secondary-dark-2:hover {
  color: rgb(84.8, 112, 24.8);
}

.bg-secondary-dark-2 {
  background-color: rgb(84.8, 112, 24.8);
}

.text-secondary-dark-3 {
  color: rgb(74.2, 98, 21.7);
}

.text-hover-secondary-dark-3:hover {
  color: rgb(74.2, 98, 21.7);
}

.bg-secondary-dark-3 {
  background-color: rgb(74.2, 98, 21.7);
}

.text-secondary-dark-4 {
  color: rgb(63.6, 84, 18.6);
}

.text-hover-secondary-dark-4:hover {
  color: rgb(63.6, 84, 18.6);
}

.bg-secondary-dark-4 {
  background-color: rgb(63.6, 84, 18.6);
}

.text-secondary-dark-5 {
  color: rgb(53, 70, 15.5);
}

.text-hover-secondary-dark-5:hover {
  color: rgb(53, 70, 15.5);
}

.bg-secondary-dark-5 {
  background-color: rgb(53, 70, 15.5);
}

.text-secondary-dark-6 {
  color: rgb(42.4, 56, 12.4);
}

.text-hover-secondary-dark-6:hover {
  color: rgb(42.4, 56, 12.4);
}

.bg-secondary-dark-6 {
  background-color: rgb(42.4, 56, 12.4);
}

.text-secondary-dark-7 {
  color: rgb(31.8, 42, 9.3);
}

.text-hover-secondary-dark-7:hover {
  color: rgb(31.8, 42, 9.3);
}

.bg-secondary-dark-7 {
  background-color: rgb(31.8, 42, 9.3);
}

.text-secondary-dark-8 {
  color: rgb(21.2, 28, 6.2);
}

.text-hover-secondary-dark-8:hover {
  color: rgb(21.2, 28, 6.2);
}

.bg-secondary-dark-8 {
  background-color: rgb(21.2, 28, 6.2);
}

.text-secondary-dark-9 {
  color: rgb(10.6, 14, 3.1);
}

.text-hover-secondary-dark-9:hover {
  color: rgb(10.6, 14, 3.1);
}

.bg-secondary-dark-9 {
  background-color: rgb(10.6, 14, 3.1);
}

.text-tertiary {
  color: #F2BB16;
}

.text-hover-tertiary:hover {
  color: #F2BB16;
}

.bg-tertiary {
  background-color: #F2BB16;
}

.text-tertiary-light-1 {
  color: rgb(243.3, 193.8, 45.3);
}

.text-hover-tertiary-light-1:hover {
  color: rgb(243.3, 193.8, 45.3);
}

.bg-tertiary-light-1 {
  background-color: rgb(243.3, 193.8, 45.3);
}

.text-tertiary-light-2 {
  color: rgb(244.6, 200.6, 68.6);
}

.text-hover-tertiary-light-2:hover {
  color: rgb(244.6, 200.6, 68.6);
}

.bg-tertiary-light-2 {
  background-color: rgb(244.6, 200.6, 68.6);
}

.text-tertiary-light-3 {
  color: rgb(245.9, 207.4, 91.9);
}

.text-hover-tertiary-light-3:hover {
  color: rgb(245.9, 207.4, 91.9);
}

.bg-tertiary-light-3 {
  background-color: rgb(245.9, 207.4, 91.9);
}

.text-tertiary-light-4 {
  color: rgb(247.2, 214.2, 115.2);
}

.text-hover-tertiary-light-4:hover {
  color: rgb(247.2, 214.2, 115.2);
}

.bg-tertiary-light-4 {
  background-color: rgb(247.2, 214.2, 115.2);
}

.text-tertiary-light-5 {
  color: rgb(248.5, 221, 138.5);
}

.text-hover-tertiary-light-5:hover {
  color: rgb(248.5, 221, 138.5);
}

.bg-tertiary-light-5 {
  background-color: rgb(248.5, 221, 138.5);
}

.text-tertiary-light-6 {
  color: rgb(249.8, 227.8, 161.8);
}

.text-hover-tertiary-light-6:hover {
  color: rgb(249.8, 227.8, 161.8);
}

.bg-tertiary-light-6 {
  background-color: rgb(249.8, 227.8, 161.8);
}

.text-tertiary-light-7 {
  color: rgb(251.1, 234.6, 185.1);
}

.text-hover-tertiary-light-7:hover {
  color: rgb(251.1, 234.6, 185.1);
}

.bg-tertiary-light-7 {
  background-color: rgb(251.1, 234.6, 185.1);
}

.text-tertiary-light-8 {
  color: rgb(252.4, 241.4, 208.4);
}

.text-hover-tertiary-light-8:hover {
  color: rgb(252.4, 241.4, 208.4);
}

.bg-tertiary-light-8 {
  background-color: rgb(252.4, 241.4, 208.4);
}

.text-tertiary-light-9 {
  color: rgb(253.7, 248.2, 231.7);
}

.text-hover-tertiary-light-9:hover {
  color: rgb(253.7, 248.2, 231.7);
}

.bg-tertiary-light-9 {
  background-color: rgb(253.7, 248.2, 231.7);
}

.text-tertiary-dark-1 {
  color: rgb(217.8, 168.3, 19.8);
}

.text-hover-tertiary-dark-1:hover {
  color: rgb(217.8, 168.3, 19.8);
}

.bg-tertiary-dark-1 {
  background-color: rgb(217.8, 168.3, 19.8);
}

.text-tertiary-dark-2 {
  color: rgb(193.6, 149.6, 17.6);
}

.text-hover-tertiary-dark-2:hover {
  color: rgb(193.6, 149.6, 17.6);
}

.bg-tertiary-dark-2 {
  background-color: rgb(193.6, 149.6, 17.6);
}

.text-tertiary-dark-3 {
  color: rgb(169.4, 130.9, 15.4);
}

.text-hover-tertiary-dark-3:hover {
  color: rgb(169.4, 130.9, 15.4);
}

.bg-tertiary-dark-3 {
  background-color: rgb(169.4, 130.9, 15.4);
}

.text-tertiary-dark-4 {
  color: rgb(145.2, 112.2, 13.2);
}

.text-hover-tertiary-dark-4:hover {
  color: rgb(145.2, 112.2, 13.2);
}

.bg-tertiary-dark-4 {
  background-color: rgb(145.2, 112.2, 13.2);
}

.text-tertiary-dark-5 {
  color: rgb(121, 93.5, 11);
}

.text-hover-tertiary-dark-5:hover {
  color: rgb(121, 93.5, 11);
}

.bg-tertiary-dark-5 {
  background-color: rgb(121, 93.5, 11);
}

.text-tertiary-dark-6 {
  color: rgb(96.8, 74.8, 8.8);
}

.text-hover-tertiary-dark-6:hover {
  color: rgb(96.8, 74.8, 8.8);
}

.bg-tertiary-dark-6 {
  background-color: rgb(96.8, 74.8, 8.8);
}

.text-tertiary-dark-7 {
  color: rgb(72.6, 56.1, 6.6);
}

.text-hover-tertiary-dark-7:hover {
  color: rgb(72.6, 56.1, 6.6);
}

.bg-tertiary-dark-7 {
  background-color: rgb(72.6, 56.1, 6.6);
}

.text-tertiary-dark-8 {
  color: rgb(48.4, 37.4, 4.4);
}

.text-hover-tertiary-dark-8:hover {
  color: rgb(48.4, 37.4, 4.4);
}

.bg-tertiary-dark-8 {
  background-color: rgb(48.4, 37.4, 4.4);
}

.text-tertiary-dark-9 {
  color: rgb(24.2, 18.7, 2.2);
}

.text-hover-tertiary-dark-9:hover {
  color: rgb(24.2, 18.7, 2.2);
}

.bg-tertiary-dark-9 {
  background-color: rgb(24.2, 18.7, 2.2);
}

.text-background {
  color: #b5c68f;
}

.text-hover-background:hover {
  color: #b5c68f;
}

.bg-background {
  background-color: #b5c68f;
}

.text-background-light-1 {
  color: rgb(188.4, 203.7, 154.2);
}

.text-hover-background-light-1:hover {
  color: rgb(188.4, 203.7, 154.2);
}

.bg-background-light-1 {
  background-color: rgb(188.4, 203.7, 154.2);
}

.text-background-light-2 {
  color: rgb(195.8, 209.4, 165.4);
}

.text-hover-background-light-2:hover {
  color: rgb(195.8, 209.4, 165.4);
}

.bg-background-light-2 {
  background-color: rgb(195.8, 209.4, 165.4);
}

.text-background-light-3 {
  color: rgb(203.2, 215.1, 176.6);
}

.text-hover-background-light-3:hover {
  color: rgb(203.2, 215.1, 176.6);
}

.bg-background-light-3 {
  background-color: rgb(203.2, 215.1, 176.6);
}

.text-background-light-4 {
  color: rgb(210.6, 220.8, 187.8);
}

.text-hover-background-light-4:hover {
  color: rgb(210.6, 220.8, 187.8);
}

.bg-background-light-4 {
  background-color: rgb(210.6, 220.8, 187.8);
}

.text-background-light-5 {
  color: rgb(218, 226.5, 199);
}

.text-hover-background-light-5:hover {
  color: rgb(218, 226.5, 199);
}

.bg-background-light-5 {
  background-color: rgb(218, 226.5, 199);
}

.text-background-light-6 {
  color: rgb(225.4, 232.2, 210.2);
}

.text-hover-background-light-6:hover {
  color: rgb(225.4, 232.2, 210.2);
}

.bg-background-light-6 {
  background-color: rgb(225.4, 232.2, 210.2);
}

.text-background-light-7 {
  color: rgb(232.8, 237.9, 221.4);
}

.text-hover-background-light-7:hover {
  color: rgb(232.8, 237.9, 221.4);
}

.bg-background-light-7 {
  background-color: rgb(232.8, 237.9, 221.4);
}

.text-background-light-8 {
  color: rgb(240.2, 243.6, 232.6);
}

.text-hover-background-light-8:hover {
  color: rgb(240.2, 243.6, 232.6);
}

.bg-background-light-8 {
  background-color: rgb(240.2, 243.6, 232.6);
}

.text-background-light-9 {
  color: rgb(247.6, 249.3, 243.8);
}

.text-hover-background-light-9:hover {
  color: rgb(247.6, 249.3, 243.8);
}

.bg-background-light-9 {
  background-color: rgb(247.6, 249.3, 243.8);
}

.text-background-dark-1 {
  color: rgb(162.9, 178.2, 128.7);
}

.text-hover-background-dark-1:hover {
  color: rgb(162.9, 178.2, 128.7);
}

.bg-background-dark-1 {
  background-color: rgb(162.9, 178.2, 128.7);
}

.text-background-dark-2 {
  color: rgb(144.8, 158.4, 114.4);
}

.text-hover-background-dark-2:hover {
  color: rgb(144.8, 158.4, 114.4);
}

.bg-background-dark-2 {
  background-color: rgb(144.8, 158.4, 114.4);
}

.text-background-dark-3 {
  color: rgb(126.7, 138.6, 100.1);
}

.text-hover-background-dark-3:hover {
  color: rgb(126.7, 138.6, 100.1);
}

.bg-background-dark-3 {
  background-color: rgb(126.7, 138.6, 100.1);
}

.text-background-dark-4 {
  color: rgb(108.6, 118.8, 85.8);
}

.text-hover-background-dark-4:hover {
  color: rgb(108.6, 118.8, 85.8);
}

.bg-background-dark-4 {
  background-color: rgb(108.6, 118.8, 85.8);
}

.text-background-dark-5 {
  color: rgb(90.5, 99, 71.5);
}

.text-hover-background-dark-5:hover {
  color: rgb(90.5, 99, 71.5);
}

.bg-background-dark-5 {
  background-color: rgb(90.5, 99, 71.5);
}

.text-background-dark-6 {
  color: rgb(72.4, 79.2, 57.2);
}

.text-hover-background-dark-6:hover {
  color: rgb(72.4, 79.2, 57.2);
}

.bg-background-dark-6 {
  background-color: rgb(72.4, 79.2, 57.2);
}

.text-background-dark-7 {
  color: rgb(54.3, 59.4, 42.9);
}

.text-hover-background-dark-7:hover {
  color: rgb(54.3, 59.4, 42.9);
}

.bg-background-dark-7 {
  background-color: rgb(54.3, 59.4, 42.9);
}

.text-background-dark-8 {
  color: rgb(36.2, 39.6, 28.6);
}

.text-hover-background-dark-8:hover {
  color: rgb(36.2, 39.6, 28.6);
}

.bg-background-dark-8 {
  background-color: rgb(36.2, 39.6, 28.6);
}

.text-background-dark-9 {
  color: rgb(18.1, 19.8, 14.3);
}

.text-hover-background-dark-9:hover {
  color: rgb(18.1, 19.8, 14.3);
}

.bg-background-dark-9 {
  background-color: rgb(18.1, 19.8, 14.3);
}

.text-accent {
  color: #A67437;
}

.text-hover-accent:hover {
  color: #A67437;
}

.bg-accent {
  background-color: #A67437;
}

.text-accent-light-1 {
  color: rgb(174.9, 129.9, 75);
}

.text-hover-accent-light-1:hover {
  color: rgb(174.9, 129.9, 75);
}

.bg-accent-light-1 {
  background-color: rgb(174.9, 129.9, 75);
}

.text-accent-light-2 {
  color: rgb(183.8, 143.8, 95);
}

.text-hover-accent-light-2:hover {
  color: rgb(183.8, 143.8, 95);
}

.bg-accent-light-2 {
  background-color: rgb(183.8, 143.8, 95);
}

.text-accent-light-3 {
  color: rgb(192.7, 157.7, 115);
}

.text-hover-accent-light-3:hover {
  color: rgb(192.7, 157.7, 115);
}

.bg-accent-light-3 {
  background-color: rgb(192.7, 157.7, 115);
}

.text-accent-light-4 {
  color: rgb(201.6, 171.6, 135);
}

.text-hover-accent-light-4:hover {
  color: rgb(201.6, 171.6, 135);
}

.bg-accent-light-4 {
  background-color: rgb(201.6, 171.6, 135);
}

.text-accent-light-5 {
  color: rgb(210.5, 185.5, 155);
}

.text-hover-accent-light-5:hover {
  color: rgb(210.5, 185.5, 155);
}

.bg-accent-light-5 {
  background-color: rgb(210.5, 185.5, 155);
}

.text-accent-light-6 {
  color: rgb(219.4, 199.4, 175);
}

.text-hover-accent-light-6:hover {
  color: rgb(219.4, 199.4, 175);
}

.bg-accent-light-6 {
  background-color: rgb(219.4, 199.4, 175);
}

.text-accent-light-7 {
  color: rgb(228.3, 213.3, 195);
}

.text-hover-accent-light-7:hover {
  color: rgb(228.3, 213.3, 195);
}

.bg-accent-light-7 {
  background-color: rgb(228.3, 213.3, 195);
}

.text-accent-light-8 {
  color: rgb(237.2, 227.2, 215);
}

.text-hover-accent-light-8:hover {
  color: rgb(237.2, 227.2, 215);
}

.bg-accent-light-8 {
  background-color: rgb(237.2, 227.2, 215);
}

.text-accent-light-9 {
  color: rgb(246.1, 241.1, 235);
}

.text-hover-accent-light-9:hover {
  color: rgb(246.1, 241.1, 235);
}

.bg-accent-light-9 {
  background-color: rgb(246.1, 241.1, 235);
}

.text-accent-dark-1 {
  color: rgb(149.4, 104.4, 49.5);
}

.text-hover-accent-dark-1:hover {
  color: rgb(149.4, 104.4, 49.5);
}

.bg-accent-dark-1 {
  background-color: rgb(149.4, 104.4, 49.5);
}

.text-accent-dark-2 {
  color: rgb(132.8, 92.8, 44);
}

.text-hover-accent-dark-2:hover {
  color: rgb(132.8, 92.8, 44);
}

.bg-accent-dark-2 {
  background-color: rgb(132.8, 92.8, 44);
}

.text-accent-dark-3 {
  color: rgb(116.2, 81.2, 38.5);
}

.text-hover-accent-dark-3:hover {
  color: rgb(116.2, 81.2, 38.5);
}

.bg-accent-dark-3 {
  background-color: rgb(116.2, 81.2, 38.5);
}

.text-accent-dark-4 {
  color: rgb(99.6, 69.6, 33);
}

.text-hover-accent-dark-4:hover {
  color: rgb(99.6, 69.6, 33);
}

.bg-accent-dark-4 {
  background-color: rgb(99.6, 69.6, 33);
}

.text-accent-dark-5 {
  color: rgb(83, 58, 27.5);
}

.text-hover-accent-dark-5:hover {
  color: rgb(83, 58, 27.5);
}

.bg-accent-dark-5 {
  background-color: rgb(83, 58, 27.5);
}

.text-accent-dark-6 {
  color: rgb(66.4, 46.4, 22);
}

.text-hover-accent-dark-6:hover {
  color: rgb(66.4, 46.4, 22);
}

.bg-accent-dark-6 {
  background-color: rgb(66.4, 46.4, 22);
}

.text-accent-dark-7 {
  color: rgb(49.8, 34.8, 16.5);
}

.text-hover-accent-dark-7:hover {
  color: rgb(49.8, 34.8, 16.5);
}

.bg-accent-dark-7 {
  background-color: rgb(49.8, 34.8, 16.5);
}

.text-accent-dark-8 {
  color: rgb(33.2, 23.2, 11);
}

.text-hover-accent-dark-8:hover {
  color: rgb(33.2, 23.2, 11);
}

.bg-accent-dark-8 {
  background-color: rgb(33.2, 23.2, 11);
}

.text-accent-dark-9 {
  color: rgb(16.6, 11.6, 5.5);
}

.text-hover-accent-dark-9:hover {
  color: rgb(16.6, 11.6, 5.5);
}

.bg-accent-dark-9 {
  background-color: rgb(16.6, 11.6, 5.5);
}

.text-accent-light {
  color: #caac87;
}

.text-hover-accent-light:hover {
  color: #caac87;
}

.bg-accent-light {
  background-color: #caac87;
}

.text-accent-light-light-1 {
  color: rgb(207.3, 180.3, 147);
}

.text-hover-accent-light-light-1:hover {
  color: rgb(207.3, 180.3, 147);
}

.bg-accent-light-light-1 {
  background-color: rgb(207.3, 180.3, 147);
}

.text-accent-light-light-2 {
  color: rgb(212.6, 188.6, 159);
}

.text-hover-accent-light-light-2:hover {
  color: rgb(212.6, 188.6, 159);
}

.bg-accent-light-light-2 {
  background-color: rgb(212.6, 188.6, 159);
}

.text-accent-light-light-3 {
  color: rgb(217.9, 196.9, 171);
}

.text-hover-accent-light-light-3:hover {
  color: rgb(217.9, 196.9, 171);
}

.bg-accent-light-light-3 {
  background-color: rgb(217.9, 196.9, 171);
}

.text-accent-light-light-4 {
  color: rgb(223.2, 205.2, 183);
}

.text-hover-accent-light-light-4:hover {
  color: rgb(223.2, 205.2, 183);
}

.bg-accent-light-light-4 {
  background-color: rgb(223.2, 205.2, 183);
}

.text-accent-light-light-5 {
  color: rgb(228.5, 213.5, 195);
}

.text-hover-accent-light-light-5:hover {
  color: rgb(228.5, 213.5, 195);
}

.bg-accent-light-light-5 {
  background-color: rgb(228.5, 213.5, 195);
}

.text-accent-light-light-6 {
  color: rgb(233.8, 221.8, 207);
}

.text-hover-accent-light-light-6:hover {
  color: rgb(233.8, 221.8, 207);
}

.bg-accent-light-light-6 {
  background-color: rgb(233.8, 221.8, 207);
}

.text-accent-light-light-7 {
  color: rgb(239.1, 230.1, 219);
}

.text-hover-accent-light-light-7:hover {
  color: rgb(239.1, 230.1, 219);
}

.bg-accent-light-light-7 {
  background-color: rgb(239.1, 230.1, 219);
}

.text-accent-light-light-8 {
  color: rgb(244.4, 238.4, 231);
}

.text-hover-accent-light-light-8:hover {
  color: rgb(244.4, 238.4, 231);
}

.bg-accent-light-light-8 {
  background-color: rgb(244.4, 238.4, 231);
}

.text-accent-light-light-9 {
  color: rgb(249.7, 246.7, 243);
}

.text-hover-accent-light-light-9:hover {
  color: rgb(249.7, 246.7, 243);
}

.bg-accent-light-light-9 {
  background-color: rgb(249.7, 246.7, 243);
}

.text-accent-light-dark-1 {
  color: rgb(181.8, 154.8, 121.5);
}

.text-hover-accent-light-dark-1:hover {
  color: rgb(181.8, 154.8, 121.5);
}

.bg-accent-light-dark-1 {
  background-color: rgb(181.8, 154.8, 121.5);
}

.text-accent-light-dark-2 {
  color: rgb(161.6, 137.6, 108);
}

.text-hover-accent-light-dark-2:hover {
  color: rgb(161.6, 137.6, 108);
}

.bg-accent-light-dark-2 {
  background-color: rgb(161.6, 137.6, 108);
}

.text-accent-light-dark-3 {
  color: rgb(141.4, 120.4, 94.5);
}

.text-hover-accent-light-dark-3:hover {
  color: rgb(141.4, 120.4, 94.5);
}

.bg-accent-light-dark-3 {
  background-color: rgb(141.4, 120.4, 94.5);
}

.text-accent-light-dark-4 {
  color: rgb(121.2, 103.2, 81);
}

.text-hover-accent-light-dark-4:hover {
  color: rgb(121.2, 103.2, 81);
}

.bg-accent-light-dark-4 {
  background-color: rgb(121.2, 103.2, 81);
}

.text-accent-light-dark-5 {
  color: rgb(101, 86, 67.5);
}

.text-hover-accent-light-dark-5:hover {
  color: rgb(101, 86, 67.5);
}

.bg-accent-light-dark-5 {
  background-color: rgb(101, 86, 67.5);
}

.text-accent-light-dark-6 {
  color: rgb(80.8, 68.8, 54);
}

.text-hover-accent-light-dark-6:hover {
  color: rgb(80.8, 68.8, 54);
}

.bg-accent-light-dark-6 {
  background-color: rgb(80.8, 68.8, 54);
}

.text-accent-light-dark-7 {
  color: rgb(60.6, 51.6, 40.5);
}

.text-hover-accent-light-dark-7:hover {
  color: rgb(60.6, 51.6, 40.5);
}

.bg-accent-light-dark-7 {
  background-color: rgb(60.6, 51.6, 40.5);
}

.text-accent-light-dark-8 {
  color: rgb(40.4, 34.4, 27);
}

.text-hover-accent-light-dark-8:hover {
  color: rgb(40.4, 34.4, 27);
}

.bg-accent-light-dark-8 {
  background-color: rgb(40.4, 34.4, 27);
}

.text-accent-light-dark-9 {
  color: rgb(20.2, 17.2, 13.5);
}

.text-hover-accent-light-dark-9:hover {
  color: rgb(20.2, 17.2, 13.5);
}

.bg-accent-light-dark-9 {
  background-color: rgb(20.2, 17.2, 13.5);
}

.text-black {
  color: black;
}

.text-hover-black:hover {
  color: black;
}

.bg-black {
  background-color: black;
}

.text-white {
  color: white;
}

.text-hover-white:hover {
  color: white;
}

.bg-white {
  background-color: white;
}

.card {
  display: block;
  padding: 0.75rem;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.card h3 {
  font-size: 1.5rem;
  padding-bottom: 0.75rem;
  font-weight: bold;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #caac87;
}

.btn-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #172601;
}
.btn-primary:hover {
  background-color: rgb(64.6653846154, 106.8384615385, 2.8115384615);
}

.btn-outlined-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #172601;
}
.btn-outlined-primary:hover {
  background-color: #172601;
}

.btn-complement-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #172601;
  color: rgb(73.9692307692, 4.6230769231, 175.6769230769);
}
.btn-complement-primary:hover {
  color: #172601;
  background-color: rgb(73.9692307692, 4.6230769231, 175.6769230769);
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #caac87;
}

.btn-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #6A8C1F;
}
.btn-secondary:hover {
  background-color: rgb(137.5210526316, 181.6315789474, 40.2184210526);
}

.btn-outlined-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #6A8C1F;
}
.btn-outlined-secondary:hover {
  background-color: #6A8C1F;
}

.btn-complement-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #6A8C1F;
  color: rgb(107.901754386, 60.7192982456, 211.9807017544);
}
.btn-complement-secondary:hover {
  color: #6A8C1F;
  background-color: rgb(107.901754386, 60.7192982456, 211.9807017544);
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #caac87;
}

.btn-tertiary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #F2BB16;
}
.btn-tertiary:hover {
  background-color: rgb(243.95, 197.2, 56.95);
}

.btn-outlined-tertiary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #F2BB16;
}
.btn-outlined-tertiary:hover {
  background-color: #F2BB16;
}

.btn-complement-tertiary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #F2BB16;
  color: rgb(91.9, 130.4, 245.9);
}
.btn-complement-tertiary:hover {
  color: #F2BB16;
  background-color: rgb(91.9, 130.4, 245.9);
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #caac87;
}

.btn-background {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #b5c68f;
}
.btn-background:hover {
  background-color: rgb(192.1, 206.55, 159.8);
}

.btn-outlined-background {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #b5c68f;
}
.btn-outlined-background:hover {
  background-color: #b5c68f;
}

.btn-complement-background {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #b5c68f;
  color: rgb(188.5, 176.6, 215.1);
}
.btn-complement-background:hover {
  color: #b5c68f;
  background-color: rgb(188.5, 176.6, 215.1);
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #caac87;
}

.btn-accent {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #A67437;
}
.btn-accent:hover {
  background-color: rgb(193.8653846154, 138.2884615385, 70.4846153846);
}

.btn-outlined-accent {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #A67437;
}
.btn-outlined-accent:hover {
  background-color: #A67437;
}

.btn-complement-accent {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #A67437;
  color: rgb(103.0461538462, 148.8153846154, 204.6538461538);
}
.btn-complement-accent:hover {
  color: #A67437;
  background-color: rgb(103.0461538462, 148.8153846154, 204.6538461538);
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #caac87;
}

.btn-accent-light {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #caac87;
}
.btn-accent-light:hover {
  background-color: rgb(209.95, 184.45, 153);
}

.btn-outlined-accent-light {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #caac87;
}
.btn-outlined-accent-light:hover {
  background-color: #caac87;
}

.btn-complement-accent-light {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #caac87;
  color: rgb(171, 192, 217.9);
}
.btn-complement-accent-light:hover {
  color: #caac87;
  background-color: rgb(171, 192, 217.9);
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #caac87;
}

.btn-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: black;
}
.btn-black:hover {
  background-color: rgb(38.25, 38.25, 38.25);
}

.btn-outlined-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid black;
}
.btn-outlined-black:hover {
  background-color: black;
}

.btn-complement-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: black;
  color: rgb(76.5, 76.5, 76.5);
}
.btn-complement-black:hover {
  color: black;
  background-color: rgb(76.5, 76.5, 76.5);
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #caac87;
}

.btn-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
}
.btn-white:hover {
  background-color: white;
}

.btn-outlined-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid white;
}
.btn-outlined-white:hover {
  background-color: white;
}

.btn-complement-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
  color: white;
}
.btn-complement-white:hover {
  color: white;
  background-color: white;
}

.flex-layout, .navbar .container, .navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar {
  padding: 0.75rem 1.5rem;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  background-color: #172601;
}
.navbar .site-title {
  font-size: 1.5rem;
}
.menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  box-sizing: border-box;
}

.hero {
  background-image: url("/public/img/building-5323266_1920.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding: 100px 20px;
  text-align: center;
  position: relative;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.hero * {
  position: relative;
  z-index: 2;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.75rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4.5rem;
}

.p-5 {
  padding: 6rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 0.75rem;
}

.pl-2 {
  padding-left: 1.5rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pl-4 {
  padding-left: 4.5rem;
}

.pl-5 {
  padding-left: 6rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 0.75rem;
}

.pr-2 {
  padding-right: 1.5rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pr-4 {
  padding-right: 4.5rem;
}

.pr-5 {
  padding-right: 6rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 0.75rem;
}

.pt-2 {
  padding-top: 1.5rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4.5rem;
}

.pt-5 {
  padding-top: 6rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 0.75rem;
}

.pb-2 {
  padding-bottom: 1.5rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4.5rem;
}

.pb-5 {
  padding-bottom: 6rem;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.75rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 3rem;
}

.m-4 {
  margin: 4.5rem;
}

.m-5 {
  margin: 6rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 0.75rem;
}

.ml-2 {
  margin-left: 1.5rem;
}

.ml-3 {
  margin-left: 3rem;
}

.ml-4 {
  margin-left: 4.5rem;
}

.ml-5 {
  margin-left: 6rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 0.75rem;
}

.mr-2 {
  margin-right: 1.5rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mr-4 {
  margin-right: 4.5rem;
}

.mr-5 {
  margin-right: 6rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.75rem;
}

.mt-2 {
  margin-top: 1.5rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4.5rem;
}

.mt-5 {
  margin-top: 6rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.75rem;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4.5rem;
}

.mb-5 {
  margin-bottom: 6rem;
}

.o-10 {
  opacity: 0.1;
}

.o-20 {
  opacity: 0.2;
}

.o-30 {
  opacity: 0.3;
}

.o-40 {
  opacity: 0.4;
}

.o-50 {
  opacity: 0.5;
}

.o-60 {
  opacity: 0.6;
}

.o-70 {
  opacity: 0.7;
}

.o-80 {
  opacity: 0.8;
}

.o-90 {
  opacity: 0.9;
}

.o-100 {
  opacity: 1;
}

.br {
  border-radius: 20px;
}

.br-none {
  border-radius: 0;
}

.br-xs {
  border-radius: 5px;
}

.br-sm {
  border-radius: 10px;
}

.br-lg {
  border-radius: 40px;
}

.br-full {
  border-radius: 50%;
}

.display-n {
  display: none;
}

.display-b {
  display: block;
}

.display-f {
  display: flex;
}

.display-i {
  display: inline;
}

.display-i-b {
  display: inline-block;
}

.font-sm {
  font-size: 0.75rem;
}

.font-md {
  font-size: 1rem;
}

.font-lg {
  font-size: 1.5rem;
}

.font-xl {
  font-size: 2rem;
}

.font-xxl {
  font-size: 3rem;
}