@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    color: inherit;
    margin: 0;
}

body {
    font-family: Host Grotesk;
}

ul {
    padding: 0;
    list-style-type: none;
}

link {
    text-decoration: none;
}

hr {
    border: 0;
    border-top: 1px dotted #efefef;
}

img {
    max-width: 100%;
}

//VARIABLES

//theme colors
$primary: #6A8C1F;
$secondary: #F2BB16;
$error: #d32752; 
$info: #A67437;

//spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

//borders
$base-border-thickness: 1px;
$base-border-radius: 20px;


h1 {
    color: $primary;
    margin-bottom: $base-margin;
}

button {
    color: #111;
    border: 0;
    background: $secondary;
    border-radius: $base-border-radius;
    padding: $base-padding;
}

.error {
    color: $error;
    border-color: $error;
    border-style: solid;
}

.notification {
    color: $secondary;
    border-color: $secondary;
    border-style: solid;
}